Repository zenocode-org/emeryon-photo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: prettier
        name: Run Prettier
        entry: npm run prettier
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|astro)$
  - repo: local
    hooks:
      - id: eslint
        name: Run Linter
        entry: npm run lint
        language: system
        types: [file]
        files: \.(js|ts|astro)$

Fix nan output
  src/data/galleryEntityFactory.ts
  src/gallery/gallery.yaml
Due: prettier, eslint

update
  astro.config.mts
  site.config.mts
  src/content/about.md
Due: prettier

Update instagram and galery
  site.config.mts
  src/gallery/gallery.yaml
Due: none

Create src/gallery/nature/ChatGPT Image 28 oct. 2025, 19_03_12.png (via Pages CMS)
  src/gallery/nature/ChatGPT Image 28 oct. 2025, 19_03_12.png
Due: none

Modification de la landing page
  .gitignore
  public/images/travel-1.jpg
  src/components/Banner.astro
  src/components/FeaturedWorkScroll.astro
  src/components/NavBar.astro
  src/gallery/gallery.yaml
  src/layouts/MainLayout.astro
  src/pages/index.astro
  src/styles/animations.css
  src/styles/global.css
  src/styles/transitions.css
Due: prettier, eslint

Fix url demo template
  astro.config.mts
Due: none

Update src/gallery/gallery.yaml (via Pages CMS)
  src/gallery/gallery.yaml
Due: none
